.fondo{
    background-color: red;
}
.gatoBostezandoP{
    font-size: 24px;
}
.gatoBostezandoImagen{
    width: 50%;
}

@media (max-width: 768px) {
    .fondo{
        background-color: green;
    }
    .gatoBostezandoP{
        font-size: 18px;
    }
    .gatoBostezandoImagen{
        width: 70%;
    }
}


@media (max-width: 425px){
    .fondo{
        background-color: blue;
    }
    .gatoBostezandoP{
        font-size: 14px;
    }
    .gatoBostezandoImagen{
        width: 100%;
    }
}



